/*@media (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .center-piece {
    grid-column: 2;
  }
}

@media (max-width: 1000px) {
  
}*/

.main {
  display: block;
}

.main input,
select,
textarea {
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: inherit;
  padding: 5px;
}

.main [type="checkbox"],
[type="radio"] {
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.main {
  font-family: system-ui;
  padding: 5px;
  text-align: justify;
}

.main label,
p {
  font-size: 1.2rem;
}

.center-piece {
  display: flex;
  max-width: 90vw;
  flex-direction: column;
  background-color: rgb(237, 100, 166);
  border-radius: 10px;
  padding: 30px;
  color: white;
  margin: 0 auto;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

#submit {
  background-color: rgb(60, 54, 107);
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
  color: white;
}
